@font-face {
  font-family: 'Museo';
  src: url("./fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("./fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansCyrl-700.woff") format("woff"), url("./fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url("./fonts/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("./fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansCyrl-300.woff") format("woff"), url("./fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url("./fonts/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"), url("./fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansCyrl-100.woff") format("woff"), url("./fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.container {
  max-width: 1232px;
  padding: 0 1rem;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  background: #171B29;
  font-family: Museo, sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2.75rem;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  padding-right: 57px;
  position: relative;
  color: #e9cc58;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
}

.header__menu span {
  display: block;
  width: 49px;
  right: 0;
  top: 50%;
  position: absolute;
  height: 2px;
}

.header__menu span::before {
  height: 2px;
  left: 0;
  top: -3px;
  width: 35.5px;
  background: #e9cc5b;
  content: '';
  position: absolute;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header__menu span:after {
  height: 2px;
  left: 0;
  bottom: -3px;
  width: 100%;
  background: #e9cc5b;
  content: '';
  position: absolute;
}

.header__menu:hover {
  color: #fff;
}

.header__menu:hover span::before,
.header__menu:hover span::after {
  width: 100%;
  background: #fff;
}

.header__tel {
  text-decoration: none;
  color: #e9cc58;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header__tel img {
  margin-right: 20px;
}

.header__tel:hover {
  color: #fff;
}

.intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.intro__title {
  color: #fff;
  font-size: 70px;
  line-height: 1;
  margin-bottom: 42px;
  font-weight: 250;
}

.intro__title span {
  color: #e9cc58;
}

.intro__subtitle {
  font-size: 24px;
  color: #e9cc58;
  font-weight: 300;
}

.intro__slider {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.intro__slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__bottom {
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
}

.intro__pagination {
  height: 26px;
  margin-left: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__pagination .swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  opacity: 1;
  background: transparent;
  position: relative;
}

.intro__pagination .swiper-pagination-bullet::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.intro__pagination .swiper-pagination-bullet-active:before {
  width: 26px;
  height: 26px;
  border-color: #e9cc5b;
  opacity: 1;
}

.intro__line {
  height: 49px;
  width: 2px;
  background: #e9cc58;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.intro__round {
  width: 600px;
  height: 600px;
  position: absolute;
  right: -200px;
  top: -300px;
  z-index: -1;
  -webkit-animation: a 60s linear infinite;
          animation: a 60s linear infinite;
}

.wedo {
  padding-top: 174px;
  padding-bottom: 90px;
}

.wedo__title {
  margin-bottom: 92px;
  font-weight: 250;
  font-size: 3.75rem;
  color: #FFFFFF;
}

.wedo__inner {
  margin-left: 179px;
}

.wedo__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 75px;
}

.wedo__item {
  max-width: 350px;
  position: relative;
}

.wedo__name {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1;
  color: #e9cc58;
  margin-bottom: 20px;
}

.wedo__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: #FFFFFF;
}

.wedo__num {
  position: absolute;
  left: -60px;
  top: -25px;
  font-size: 150px;
  font-weight: 600;
  line-height: .7;
  color: transparent;
  -webkit-text-stroke: 2px #2F323F;
  text-stroke: 2px #2F323F;
  z-index: -1;
}

.about {
  padding-top: 90px;
  padding-bottom: 90px;
}

.about__inner {
  margin-left: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__info {
  width: 50%;
  max-width: 438px;
  margin-right: 20px;
}

.about__title {
  color: #FFFFFF;
  font-weight: 250;
  font-size: 3.75rem;
  line-height: 1;
  margin-bottom: 90px;
}

.about__name {
  color: #e9cc58;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 30px;
}

.about__desc {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #FFFFFF;
}

.clients {
  padding: 90px 0;
}

.clients__title {
  margin-left: 179px;
  font-weight: 250;
  font-size: 3.75rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 100px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 108px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients__item img {
  margin-bottom: 28px;
}

.clients__name {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1;
  color: #FFFFFF;
}

.clients__btn {
  width: 207px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: 2px solid #e9cc58;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 400;
  color: #e9cc58;
  display: block;
  margin: 0 auto;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.gallery {
  padding: 90px 0 60px;
  position: relative;
}

.gallery__next, .gallery__prev {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #e9cc58;
}

.gallery__next::after, .gallery__prev::after {
  content: url(./img/arrow.svg);
  top: 50%;
  left: 50%;
  font-size: 0;
}

.gallery__prev {
  left: 67px;
}

.gallery__next {
  right: 67px;
}

.gallery__next::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gallery .swiper-wrapper {
  padding-bottom: 32px;
}

.gallery__pagination {
  bottom: 0 !important;
}

.gallery__pagination .swiper-pagination-bullet {
  background: #5B5B5B;
  width: 7px;
  height: 7px;
  margin: 0 6px;
}

.gallery__pagination .swiper-pagination-bullet-active {
  background: #e9cc58;
}

.gallery img {
  max-width: 100%;
}

.calendar {
  padding: 90px 0;
}

.calendar__title {
  text-align: center;
  font-weight: 250;
  font-size: 3.75rem;
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: 90px;
}

.calendar__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px 146px;
}
/*# sourceMappingURL=style.css.map */